name: Scheduled database updates
on:
  push:
    paths:
      - .github/workflows/scheduled.yml
  schedule:
    # Once every day at midnight UTC
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    if: startsWith( github.repository, 'Homebrew/' )
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest]
    steps:
      - name: Check out repository
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Set up commit signing
        uses: Homebrew/actions/setup-commit-signing@master
        with:
          signing_key: ${{ secrets.BREWTESTBOT_GPG_SIGNING_SUBKEY }}

      - name: Update database
        env:
          HOMEBREW_GPG_PASSPHRASE: ${{ secrets.BREWTESTBOT_GPG_SIGNING_SUBKEY_PASSPHRASE }}
        run: brew which-update --commit --install-missing executables.txt

      - name: Output database stats
        run: brew which-update --stats executables.txt

      - name: Push commits
        uses: Homebrew/actions/git-try-push@master
